/* ============ The Rundown ================== 

    1. Global Styles
    2. Navbar Style
    3. Footer Style
    4. Hero styling
    5. Quote styling
    6. Contact Section
    7. External Links
    8. Table Styles
    9. Form Styles
    10. Favourite Styles
    11. Display PDF
*/


/* ============ 1. Global Styles  ================*/

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
}

a {
    text-decoration: none;
    color: black;
}

.last-article {
    margin-bottom: 1.5rem;
}

/* ============ Component Styles  ================ */

/* 2. Navbar styling */


.navigation-bar {
    background-color: cornflowerblue;
    position: sticky;
    display: flex;
    top: .25rem;
    height: 2rem;
    align-items: center;
    border-radius: 10px;
}

.navigation-link {
    text-decoration: none;
    color: white;
    transition: color .5s ease-in-out;
}

.navigation-link:hover {
     color: black;
}

.navigation-bar-list {
    list-style-type: none;
    display: flex;
    gap: 2rem;
    justify-content: flex-start;
}

/* 3. Footer Style */

footer {
    background-color: lightgray;
    border-radius: 10px;
}

footer>div {
    padding-left: 5px;
}


/* 4. Hero Styling */

.page-title {
    font-weight: 300;
    font-size: 3.5rem;
    text-align: center;
}

.image-container {
    text-align: center;
}

#splash-image {
    border-radius: 20px;
}

/* 5. Quote styling */

.front-page-quote {
    display: flex;
    background-color: lightgray;
    height: 45vh;
    width: 45vh;
    border-radius: 20px;
    margin-left: 8rem;
    margin-top: -40rem;
    position: absolute;
    opacity: .60;
    box-shadow: 5px 5px 5px black;
    
}

.front-page-quote-text {
    padding-left: 2rem;
    padding-top: 2rem;
    font-size: calc(2rem + 1vw)
    
}

/* 6. Contact Section */

.contact-me {
    display: flex;
    gap: 3rem;
    justify-content: center;
    border: 3px solid darkgray;
    box-shadow: 5px 5px 5px gray;
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .75rem;
    padding: .5rem;
    border-radius: 10px;
}

button {
    background-color: lightskyblue;
    border: none;
    border-radius: 5px;
    width: 100px;
    transition: 1s;

}

button:hover {
    transform: translateY(5px);
    transition: 1s;
}

/* 7. Internal/External links */

.bottom-links {
    display: flex;
    gap: 2rem;
}

.external-link-site {
    transition: color .3s ease-in-out;
}

.external-link-pdf {
    transition: color .3s ease-in-out;
}

.external-link-site:hover {
    color: gray;
}

.external-link-pdf:hover {
    color: gray;
}

.internal-link {
    color: darkred;
    transition: color .3s ease-in-out;
}

.internal-link:hover {
    color: gray;
}

/* 8. Table Styles */

table {
    text-align: left;
    
}

td, th {
    padding-right: 1rem;
    
}

/* 9. Form Styles */

form {
    display: grid;
}

label { 
    margin-bottom: 1rem;
}

fieldset {
    margin-top: .5rem;
}

#form-button {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

/* 10. Favourite Styles*/

.save-span {
    height: 20px;
    width: 20px;
    margin-left: .75rem;
    vertical-align: super;
    font-size: .75rem;
    transition: color 1s ease-in-out;
}

.save-span:hover{
    color: red;
    cursor: pointer;
}

.saved-tag {
    color: lightgray;
    vertical-align: super;
    margin-left: .75rem;
    font-size: .75rem;
    height: 20px;
    width: 20px;
}

/* 11. Display PDF */

#file-preview {
    display: none;
}

/* Page Like Styling  */

.page-like {
    display: flex;
    align-items: center;
    border: 2px solid gray;
    border-radius: 10px;
    width: 8.25rem;
    height: 2rem;
    margin-bottom: 2rem;
    box-shadow: 3px 3px 3px lightgray;
}

.page-like-enabled{
    display: flex;
    align-items: center;
    border: 2px solid gray;
    border-radius: 10px;
    width: 4rem;
    height: 2rem;
    margin-bottom: 2rem;
    box-shadow: 3px 3px 3px lightgray;
}

.page-like:hover{
    cursor: pointer;
    background-color: palegoldenrod;
    transition: .5s;
}

.page-like:active{
    transform: translateY(5px);

}

#thumb-icon {
    height: 20px;
    width: 15px;
    
}